[submodule "gb-api-mart"]
	path = gb-api-mart
	url = git@github.com:kropotov-geekbrains/gb-api-mart.git
[submodule "gb-api"]
	path = gb-api
	url = git@github.com:ViktorKhalezov/gb-api.git
[submodule "gb-api-mart/gb-api"]
	path = gb-api-mart/gb-api
	url = git@github.com:ViktorKhalezov/gb-api.git
